/*All code provided was written in unison via screen sharing by Natan Trosman & Darragh Ryan*/
/*BG for header */
.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}
/*font styles */
.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}
/*heading style */
 .heading {
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: lightgrey;
	color:darkslategray;
	font-size: 200px;
	font-weight: 300;
	text-align:center;
	}
/*subheading style */
.signatureDishes {
   -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: lightgrey;
	color:darkslategray;
	font-size: 50px;
	font-weight: 300;
	text-align:center;
	}
/*content-section margin */
.content-section {
    margin: 1em;
}
/*container parameters*/
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
/*footer color*/
.main-footer {
    background-color: darkslategray;
    color: white;
    padding: .25em 0;
}
/*keeps social media images small*/
.footer-nav img {
    width: 30px;
    height: 30px;
}
/*set size for shop item*/
.shop-item {
    margin: 30px;
}
/*set size and color for shop item tile*/
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
/*set size for shop item image*/
.shop-item-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
    height: 250px;
	width: 300px;
}
/*keeps the items centered*/
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}
/*sets the size and color for the prices*/
.shop-item-price {
    flex-grow: 1;
    color: #333;
}
/*keeps the items in place properly */
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*gives the text under cart its style*/
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}
/*gives the cart column its styles*/
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
/*allows the cart row to change size easily*/
.cart-row {
    display: flex;
}
/* gives cart item its width*/
.cart-item {
    width: 45%;
}
/*gives the prices their styles*/
.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}
/*set width fo quantity*/
.cart-quantity {
    width: 35%;
}
/*sets the size, color and margin for the cart items*/
.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}
/*keeps the cart images at the right size*/
.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

/* sets the styles for the quantity button*/
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
/*gives the last row a 1 pixel border*/
.cart-row:last-child {
    border-bottom: 1px solid black;
}
/*gives the last column a no border */
.cart-row:last-child .cart-column {
    border: none;
}
/*sets the margin and alignment for total*/
.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}
/* sets the style for total*/
.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}
/* sets the style for total*/
.cart-total-price {
    color: #333;
    font-size: 1.1em;
}
/* sets the margin and size for purchase button*/
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}
/*keeps 'cart' centered*/
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;